#menuBar {
  .mainDiv {
    width: 100%;
    height: 100vh;
    .containerForMenuBar {
      padding-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      .menubarUl {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          column-gap: 10px;
          width: 75%;
          color: #61666c;
          padding: 10px 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          &:hover {
            background-color: #d7f4d7b6;
            color: black;
          }
        }
        .colorful {
          background-color: #6FFF7D;
          color: black;
          transition: all 0.3s ease 0s;
          &:hover {
            background-color: #63f672c4;
          }
        }
      }
    }
  }
}
