#home {
  height: 100vh;
  padding-top: 80px;
  .mainDiv {
    display: flex;
    width: 100%;

    .menuBarSec {
      width: 20%;
    }
    .mainSec {
      width: 80%;
      .valuteSec {
        width: 100%;
      }
      .chartAndBtcTable {
        padding: 0 30px 30px 30px;
        display: flex;
        width: 100%;
        .chart {
          width: 75%;
        }
        .btcTable {
          width: 25%;
        }
      }
    }
  }
}
